body{margin: 0px;
    background-color: darkslategray;
font-family: 'georgia';}

header{width: 100%;
height: 15vh;
text-decoration: none;
    color: ghostwhite;
background-color: rgb(68, 82, 82);}

#titulo a{text-decoration: none;
color: ghostwhite;
font-size: 3em;
margin-left: 50px;
letter-spacing: 3px;
font-style: italic;}
#titulo{display: inline-block;
color: ghostwhite;}

ul{list-style: none;
display: inline-block;
text-decoration: none;
margin-left: 1000px;
margin-right: 230px;}
ul li {display: inline-block;
text-decoration: none;
margin-right:10px ;}

ul li a{display: inline-block;
text-decoration: none;
font-size: 20px;
color: ghostwhite;}

header svg{fill: ghostwhite;
margin-left: 20px;}

#gridbox{display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
margin-top: 100px;
margin-bottom: 20vh;
gap: 2px;
margin-left:200px ;
margin-right: 200px;}

#imagem{width:350px ;
height: 230px;
overflow: hidden;}
#imagem img{width: 350px;
  margin-top: -60px;  }

  #box{width: 350px;
color: ghostwhite;}

#box a{text-decoration: none;
color: gold;}

#info{display: inline;}

#imagem2{width:350px ;
    height: 230px;
    overflow: hidden;}
    #imagem2 img{width: 350px;
      margin-top: -200px;  }