body{margin: 0px;
    background-color: darkslategray;
font-family: 'georgia';}

header{width: 100%;
height: 15vh;
text-decoration: none;
    color: ghostwhite;
background-color: rgb(68, 82, 82);}

#titulo a{text-decoration: none;
color: ghostwhite;
font-size: 3em;
margin-left: 50px;
letter-spacing: 3px;
font-style: italic;}
#titulo{display: inline-block;
color: ghostwhite;}

ul{list-style: none;
display: inline-block;
text-decoration: none;
margin-left: 1000px;
margin-right: 230px;}
ul li {display: inline-block;
text-decoration: none;
margin-right:10px ;}

ul li a{display: inline-block;
text-decoration: none;
font-size: 20px;
color: ghostwhite;}

header svg{fill: ghostwhite;
margin-left: 20px;}

