body{margin: 0px;
    background-color: darkslategray;
font-family: 'georgia';}

header{width: 100%;
height: 15vh;
text-decoration: none;
    color: ghostwhite;
background-color: rgb(68, 82, 82);}

#titulo a{text-decoration: none;
color: ghostwhite;
font-size: 3em;
margin-left: 50px;
letter-spacing: 3px;
font-style: italic;}
#titulo{display: inline-block;
color: ghostwhite;}

ul{list-style: none;
display: inline-block;
text-decoration: none;
margin-left: 1000px;
margin-right: 230px;}
ul li {display: inline-block;
text-decoration: none;
margin-right:10px ;}

ul li a{display: inline-block;
text-decoration: none;
font-size: 20px;
color: ghostwhite;}


header svg{fill: ghostwhite;
    margin-left: 20px;}

#grid{margin-top: 100px;
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
margin-left: 300px;
margin-right: 300px;}

#imagem{width:300px;
height: 350px;
margin-bottom: 40px;}
#imagem>img{width:300px;
    height: 350px;
width: 100%;
transition: 0.2s;}

#imagem:hover img{filter: grayscale(1);
transform: scale(1.1);}

#imagem:hover h3{opacity: 1;}
#imagem:hover p{opacity: 1;}
h1{color: ghostwhite;
text-align: center;
margin-top: 120px;
letter-spacing: 2px;}

#imagem>h3{color: rgb(79, 183, 231);
display: inline-block;
position: relative;
left: 70px;
bottom: 230px;
font-weight: bolder;
font-size: 1.3rem;
opacity: 0;
transition: 0.4s;}

#imagem>p{color:rgb(79, 183, 231);
    display: inline-block;
    position: relative;
    left: -53px;
    bottom: 200px;
opacity: 0;
transition: 0.7s;}

#titulofim{color: rgb(79, 183, 231);
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 230px;
    font-weight: bolder;
    font-size: 1.3rem;
    opacity: 0;
    transition: 0.4s;}

    #precofim{color:rgb(79, 183, 231);
        display: inline-block;
        position: relative;
        left: 110px;
        bottom: 260px;
    opacity: 0;
    transition: 0.7s;}

    #imagem2{width:300px;
        height: 350px;
        margin-bottom: 40px;}
        #imagem2>img{width:300px;
            height: 350px;
        width: 100%;
        transition: 0.2s;}
        
        #imagem2:hover img{filter: grayscale(1);
        transform: scale(1.1);}
        
        #imagem2:hover h3{opacity: 1;}
        #imagem2:hover p{opacity: 1;}
        h1{color: ghostwhite;
        text-align: center;
        margin-top: 120px;
        letter-spacing: 2px;}

        #precogato{color: rgb(79, 183, 231);
            display: inline-block;
            position: relative;
            left: -40px;
            bottom: 200px;
        opacity: 0;
        transition: 0.7s;}

        #imagem3{width:300px;
            height: 350px;
            margin-bottom: 40px;}
            #imagem3>img{width:300px;
                height: 350px;
            width: 100%;
            transition: 0.2s;}
            
            #imagem3:hover img{filter: grayscale(1);
            transform: scale(1.1);}
            
            #imagem3:hover h3{opacity: 1;}
            #imagem3:hover p{opacity: 1;}
        
            #imagem3>h3{color: rgb(79, 183, 231);
                display: inline-block;
                position: relative;
                left: 70px;
                bottom: 230px;
                font-weight: bolder;
                font-size: 1.3rem;
                opacity: 0;
                transition: 0.4s;}

                #imagem4{width:300px;
                    height: 350px;
                    margin-bottom: 40px;}
                    #imagem4>img{width:300px;
                        height: 350px;
                    width: 100%;
                    transition: 0.2s;}
                    
                    #imagem4:hover img{filter: grayscale(1);
                    transform: scale(1.1);}
                    
                    #imagem4:hover h3{opacity: 1;}
                    #imagem4:hover p{opacity: 1;}
                
                    #imagem4>h3{color: rgb(79, 183, 231);
                        display: inline-block;
                        position: relative;
                        left: 70px;
                        bottom: 230px;
                        font-weight: bolder;
                        font-size: 1.3rem;
                        opacity: 0;
                        transition: 0.4s;}

        #precoforever{color:rgb(79, 183, 231);
            display: inline-block;
            position: relative;
            left: -30px;
            bottom: 200px;
        opacity: 0;
        transition: 0.7s;}

        #imagem5{width:300px;
            height: 350px;
            margin-bottom: 40px;}
            #imagem5>img{width:300px;
                height: 350px;
            width: 100%;
            transition: 0.2s;}
            
            #imagem5:hover img{filter: grayscale(1);
            transform: scale(1.1);}
            
            #imagem5:hover h3{opacity: 1;}
            #imagem5:hover p{opacity: 1;}
        

                #precosmoke{color:rgb(79, 183, 231);
                    display: inline-block;
                    position: relative;
                    left: 55px;
                    bottom: 200px;
                opacity: 0;
                transition: 0.7s;}

                #titulosmoke{color: rgb(79, 183, 231);
                    display: inline-block;
                    position: relative;
                    left: 120px;
                    bottom: 230px;
                    font-weight: bolder;
                    font-size: 1.3rem;
                    opacity: 0;
                    transition: 0.4s;}

                    #imagem6{width:300px;
                        height: 350px;
                        margin-bottom: 40px;}
                        #imagem6>img{width:300px;
                            height: 350px;
                        width: 100%;
                        transition: 0.2s;}
                        
                        #imagem6:hover img{filter: grayscale(1);
                        transform: scale(1.1);}
                        
                        #imagem6:hover h3{opacity: 1;}
                        #imagem6:hover p{opacity: 1;}

                        #imagem6>h3{color: rgb(79, 183, 231);
                            display: inline-block;
                            position: relative;
                            left: 110px;
                            bottom: 230px;
                            font-weight: bolder;
                            font-size: 1.3rem;
                            opacity: 0;
                            transition: 0.4s;}
                            
                            #imagem6>p{color:rgb(79, 183, 231);
                                display: inline-block;
                                position: relative;
                                left: 40px;
                                bottom: 200px;
                            opacity: 0;
                            transition: 0.7s;}
       
        
        

    
